<div class="row addbar">
  <form ng-submit="submit(job)">

    <div class="one columns">
      <input type="button" ng-click="formHandler($event)" value="+">
    </div>
    <div class="eleven columns">
      <input class="u-full-width" placeholder="paste job link here" type="text" ng-model="job.url" ng-paste="formHandler($event)">
    </div>
  <div ng-show="showform">

  <input type="text" ng-model="job.company" placeholder="company">
  <input type="text" ng-model="job.title" placeholder="title">
  <button type="submit">SUBMIT</button>
</div>
</form>
</div>
