<div ng-cloak="" ng-controller="JobController as jobctrl" ng-init="jobctrl.getActiveJobs()">


<add-bar></add-bar>
  <div ng-show="jobctrl.showform" class="row jobform">

  <div class="twelve columns">
    <job-form type="new" job="{}" url="jobctrl.pasteUrl" jobtitle="jobctrl.formjobTitle" jobcompany="jobctrl.formjobCompany"></job-form>
  </div>

  </div>

  <div class="row graph">
    <div class="twelve columns">Graph</div>
  </div>
  <div class="row">
      <pane-container backlog="jobctrl.backlog" today="jobctrl.today" inprocess="jobctrl.inprocess" applied="jobctrl.applied"></pane-container>
    </div>

    <div ng-show="jobctrl.showbacklog" class="row">
      <div class="twelve columns jobs">
        <backlog-view mode="jobctrl.mode" backlog="jobctrl.backlog" today="jobctrl.today"></backlog-view>
      </div>
    </div>


      <div ng-show="jobctrl.showjobevents" class="row">
        <div class="six columns jobs">
          <backlog-view mode="jobctrl.mode" backlog="jobctrl.backlog" today="jobctrl.today"></backlog-view>
        </div>

      <div class="six columns events">
        <job-item ng-if="jobctrl.mode === 'single'" singleJob="{{singleJob}}"></job-item>
        <event-list mode="jobctrl.mode" events="jobctrl.events"></event-list>
      </div>

    </div>

</div>
