<main ng-controller="AuthController as authctrl">
  <div class="signup">
    <h1>SIGN UP</h1>
    <form ng-submit="authctrl.signUp(authctrl.newUser)">
      <input type="text" ng-model="authctrl.newUser.username" placeholder="username"></br>
      <input type="password" ng-model="authctrl.newUser.password" placeholder="password"></br>
      <button type="submit">SIGN UP</button>
    </form>
    <label>Already A User?:</br>
      <button ng-click="authctrl.goSignIn()">SIGN IN</button>
    </label>
  </div>
</main>
