<div  class="three columns pane today"><pane count="todayCount" title="'Today'" clickaction="todayclick"></pane></div>
<div  class="three columns pane backlog"><pane count="backlogCount" title="'Backlog'" clickaction="backlogclick"></pane></div>
<div  class="three columns pane inprogress"><pane count="inprocessCount" title="'In progress'" clickaction="inprocessclick"></pane></div>
<div  class="three columns pane applied"><pane count="appliedCount" title="'Applied'" clickaction="appliedclick"></pane></div>
