

<ul dnd-list="backlog">
<li ng-click="changeView()"  ng-repeat="job in backlog"
   dnd-draggable="job"
   dnd-moved="backlog.splice($index, 1)"
   dnd-effect-allowed="move"
   dnd-selected="models.selected = job"
   ng-class="{'selected': models.selected === job}"
   >
   {{job.title}}
   {{job.company}}
</li>
</ul>
<hr />
<br />


<ul  dnd-list="today">
  <li >

  </li>
<li ng-click="changeView()"  ng-repeat="job in today"
   dnd-draggable="job"
   dnd-moved="today.splice($index, 1)"
   dnd-effect-allowed="move"
   dnd-selected="models.selected = job"
   ng-class="{'selected': models.selected === job}"
   >
   {{job.title}}
   {{job.company}}
</li>
</ul>
<!-- //ng-click="changeView()" -->
